
.buttonb {
  padding: 15px 25px;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0009b5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 15px #999;
  width: 100%;
}

.buttonb:hover {background-color: #000dff}

.buttonb:active {
  background-color: #000675;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}





.buttont {
  padding: 15px 25px;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #eba800;
  border: none;
  border-radius: 15px;
  box-shadow: 0 15px #999;
  width: 100%;
}

.buttont:hover {background-color: #ffc126}

.buttont:active {
  background-color: #bd8700;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2{
    background-color: purple; /* Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
    width: 100%;
    height: 10%;
}



.button3{
    background-color: grey; /* Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
    width: 100%;
    height: 10%;
}


.buttonc {
  padding: 15px 25px;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0ea300;
  border: none;
  border-radius: 15px;
  box-shadow: 0 15px #999;
  width: 100%;
}

.buttonc:hover {background-color: #35cf25}

.buttonc:active {
  background-color: #096300;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




#contactedback {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 20% 10%;
  text-decoration: none;
  display: inline-block;
  font-size: 64px;
  
}


input[type="number"] {
    width: 20%;
    height: 8%;
    font-size: 100%;
}



body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

body {
    font-size: 48px;
}
